<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Bienvenue sur lusopictours bonne visite!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

		<!-- Bootstrap  CSS -->
		<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ asset('assets/css/lusopictours.css') }}" rel="stylesheet">
	</head>

	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
				<div class="container-fluid">
					{# pour retourner a la page d'accueill on fait un path ici  on affiche aussi le logo #}
					<a class="navbar-brand" href="{{ path("app_home") }}"><img src="{{asset('/img/logo.jpg')}}" alt="logo lusopictours" width="150px"></a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">

							<li class="nav-item">
							{# pour faire le lien dans la page qui affiche toutes les résidences sur url #}
								<a class="nav-link" href="{{ path('app_appart') }}">CITY-TOUR</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">SHOOTING</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">PROPOSEZ-VOS-SERVICES</a>
							</li>	
						</ul

						<div class="blanche">
							{% if app.user %}
								<a class="navbar-brand " href="{{ path('app_account') }}">
									Mon compte
									{# <small>({{app.user.firstname}})</small> #}
								</a>
								|
								<a  href="{{ path('app_logout') }}">Déconnexion</a>
							{% else %}
								<a href="{{ path('app_login') }}">
									Connexion</a>
								|
								<a  href="{{ path('app_register') }}">Inscription</a>
								{% endif%}
							</div>
						</div>
					</div>
				</nav>
			</header>
			<main>
				{% block body %}{% endblock %}
			</main>
			<!-- Bootstrap js and jquery -->
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
			<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
		</body>
	</body>
</html>
